langgen/
*.un~
.DS_Store
*checkpoint.*
*.model
*.pt
*.pth
*.safetensors
*.bin
*.langgen
*.pyc
# *config.json
*map.json
*state.json
*tokenizer.json
*.0
Data/initial_datasets/dialogue/full_data.csv
Data/initial_datasets/dialogue/training_data.csv
Data/initial_datasets/dialogue/validation_data.csv
Data/initial_datasets/news/full_data.csv
Data/initial_datasets/news/training_data.csv
Data/initial_datasets/news/validation_data.csv
Data/initial_datasets/reddit/full_data.csv
Data/initial_datasets/reddit/training_data.csv
Data/initial_datasets/reddit/validation_data.csv
Data/initial_datasets/news/sharded/full_data.csv
Data/initial_datasets/news/sharded/training_data.csv
Data/initial_datasets/news/sharded/validation_data.csv
Data/initial_datasets/reddit/sharded/full_data.csv
Data/initial_datasets/reddit/sharded/training_data.csv
Data/initial_datasets/reddit/sharded/validation_data.csv
**/validation_data.csv
**/training_data.csv
**/gen*/config.json
**/full_data.csv
